// Specific CSS for your home-page
.search {
  margin-top: 60px;
  h1 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
  }
}
.align {
  display: flex;
  justify-content: space-evenly;
}
