.container {
  border-radius: 10px;
  margin: 60px 60px 60px 60px;
  padding: 20px;
  background-color: white;
  font-family: 'Nunito', sans-serif;
}

#info-border-container {
  border: 1px solid #66686f;
}

.c-name {
  color: #3282b8;
  margin: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  .c-link {
    text-decoration: none;
    flex-grow:1;
  }
}

.c-description {
  color: #393e46;
  margin: 0;

}
.c-others {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 15px;
}
.star {

}
.c-star {
  color: #f9d56e;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.number-star {
  z-index: 1;
}
