<div class="search">
  <h1>Welcome to My Github Fav Repos!</h1>
    <%= form_tag("/search", method: "post") do %>
      <%= label_tag(:q, "") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
</div>
