<div class="form-group form-inline d-flex justify-content-center align-items-center">
  <div class="search">
    <h1>Choose 5 languages ​​of your choice to search</h1>
      <%= form_tag("/search", method: "post") do %>
        <%= label_tag(:q, "") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
  </div>
</div>
